@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body{
    background-color: rgba(7, 7, 7, 0.893);
    color: rgb(242, 236, 236);
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    border: 3px solid;
}

h1 {
    text-align: center;
    background-color: rgb(36, 37, 37) ; 
    height: 100px;
    border: 7px solid rgb(253, 253, 34);
    padding-top: 50px;
}

p{
    text-align: center;
}

em strong{
        color: red;
}

#banner{
    width: 70%;
}

.itens{
    font-style: italic;   
    text-align: left;
}

.principal {
    background: black;
    padding: 30px;
}

.beneficios{
    background: rgb(61, 25, 25);
    padding: 20px;
}

h2{
    text-align: center;
}

.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top; 
    width: 20%;
    margin-right: 15%;
    margin-top : 130px;
    line-height: 1.5;
    font-size: 18px;
}

/*estilizaçao da parte de produtos */

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;

}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	/*text-transform: uppercase;*/
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: rgb(72, 92, 32);
	text-decoration: underline;
	font-size: 20px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    }

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
	background-color: yellowgreen;
}
.produtos li:active {
	border-color: #088C19;	
}
.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}			
.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 16px;
	margin: 20px 0 0;
	padding-bottom: 20px;

}
