@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body{
    background-color: rgba(7, 7, 7, 0.893);
    color: rgb(242, 236, 236);
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    border: 3px solid;
}

h1 {
    text-align: center;
    background-color: rgb(36, 37, 37) ; 
    height: 100px;
    border: 7px solid rgb(253, 253, 34);
    padding-top: 50px;
}

p{
    text-align: center;
}

em strong{
        color: red;
}

#banner{
    width: 70%;
}

.itens{
    font-style: italic;   
    text-align: left;
}

.principal {
    background: black;
    padding: 30px;
}

.beneficios{
    background: rgb(61, 25, 25);
    padding: 20px;
}

h2{
    text-align: center;
}

.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top; 
    width: 20%;
    margin-right: 15%;
    margin-top : 130px;
    line-height: 1.5;
    font-size: 18px;
}

/*estilizaçao da parte de produtos */

