@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body{
    background-color: rgb(7, 7, 7);
    color: rgb(242, 236, 236);
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    border: 3px solid;
}

h1 {
    text-align: center;
    background-color: rgb(202, 255, 224) ; 
    height: 100px;
}

p{
    text-align: center;
}

em strong{
        color: red;
}


#banner{
    width: 70%;
}
